# ----------------------
# IDE / Editor
# ----------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ----------------------
# Environment / virtualenv
# ----------------------
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# ----------------------
# Distribution / packaging
# ----------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs / temp
# ----------------------
*.log
*.tmp
*.swp

# ----------------------
# Additional stuff
# ----------------------

debug_list_of_downloads
crawled_docs/